.App {
  text-align: center;

}
html, body, body > div, .app {
  height: 100%;
}
.App {
  background-color: #ffffff;
  height: 100vh;
}
.navList  {
list-style: none;
display: flex;
justify-content: space-around;

}
.taskOne {
  display: flex;
  flex-direction: column;
align-items: center;

}
.taskOneBox {
  margin-top: 20px;

  border: 1px solid black;
  font-size: 24px;
  height: 50px;
  width: 100px;
  margin: 20px;
  overflow: hidden;
}
.taskContainer {
  display: flex;
  justify-content: center;

}
.taskThreeBox {
  display: flex;
  margin-top: 20px;
  font-size: 24px;
  height: fit-content;
  width:fit-content;
  margin: 20px;
}

.elementBox {
  display: flex;
  margin: 20px;
  height: 150px;
  width: 150px;
  border: 1px black solid;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 50%;
  background-color: white;
}
.boxListItems{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.boxListItems li {
 list-style-type: none;
}

li {
  list-style-type: none;
}
.task3Image {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .5s ease-in-out;
  height: 200px;
  width: 200px;
  margin-left: 30px;
  
}
.task3Image:hover {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
  transition: .5s ease-out;
  transform: scale(1.6);
  margin-left: 0px;
}

.task3text {
  font-size: 20px;
  width: 150px;
  padding: 15px;
  
}
.infoCard {
display: flex;
background-color: #d13468;
justify-content:space-around;
margin: 10px;
padding: 15px;
border-radius: 10% 20%; 
width: fit-content;
}

.infoCard h2 {
  color: white;
}

.infoCardUser {
  display: flex;
background-color: #8f85d7;
font-size: 12px;
justify-content:space-around;
margin: 20px;
padding: 15px;
border-radius: 10% 20%; 
width: fit-content;
}
.infoCardUser h2, p{
  color: rgb(211, 237, 226);
  font-size: 16px;
}
.searchBar {
  background-color: rgb(215, 120, 199);
  width: 400px;
  padding: 20px;
  border-radius: 10px 5px;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  margin-right: auto;
  margin-left: auto;
  border: purple 1px solid;
}
.searchBar input  {
  font-size: 23px;
  
}
.profileBox {
  display: flex;
  flex-direction: column;
}
.profileBox h2 {
  margin-top: -15px;
  align-self: center;
}

.addressGroup {
display: flex;
line-height: 1rem;
flex-direction: column;
flex-wrap:nowrap;
height: 150px;
margin-top: 20px;
margin: 30px;

}


.addressGroup p  {
margin-bottom: -5px;

align-self: flex-start;
color: rgb(211, 237, 226);
}
a:hover {
color: white;
}

.addressHeading {
  color: white;
  margin-bottom: -5px;
  align-self: flex-start;

}
.taskContainer {
  display: flex; 
  flex-direction: column;
  align-items: center;
}


.animate-character
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #e1b2d2 0%,
    #c4b6d4 29%,
    #d13468 67%,
    #ff0084 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 24px;
}

@keyframes textclip {
  to {
    background-position:200% center;
  }
}
button {
  background-color: rgb(215, 120, 199);
  height: 80px;
  width: 80px;
  border-radius: 50%;
  font-weight: 600;
  border:rgb(255, 192, 237)

}
button:hover{
  transition: 500ms;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
 
  background-color: rgb(255, 192, 237);
}

a {
  text-decoration: none;
  color: black;
}

.clearButton {
  background-color: lightgrey;
  height: 20px;
  width: 60px;
  border: 1px black solid;
  border-radius: 5px;
}

.task2Button {
  margin: 10px;
  height: 200px;
  width: 200px;
  border-radius: 0px;
}
.squares {
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
