
.view {
  width: 100vw;
}
.portfolio-link {
  color: yellow;
  text-decoration: bold;
}
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  line-height: 1.25;
  -webkit-font-smoothing: antialiased;
}
//ROBOT DIRECTORY SASS COLORS
$button-color: #1383c3;
$button-boxShadow: rgba(0, 0, 0, 0.278) 0px 20px 30px;
$component-border: #b9bfde;
$card-background-color: #2041d2;
$component-field-color: white; 
$header-bg-color: rgb(64, 64, 64);

.App {
  background-color: #ffffff;
  height: 100vh;
}

.navList  {
list-style: none;
display: flex;
justify-content: space-evenly;
padding: 0;

}
.taskOne {
  display: flex;
  flex-direction: column;
align-items: center;

}
.taskOneBox {
  margin-top: 20px;

  border: 1px solid black;
  font-size: 24px;
  height: 50px;
  width: 100px;
  margin: 20px;
  overflow: hidden;
}
.taskContainer {
  display: flex;
  justify-content: center;

}
.boxListItems{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
  list-style-type: none;
}
.boxListItems li {
 list-style-type: none;
}
.userImage {
  height: 100px;
  width: 100px;
}

.infoCardUser h2 {
  color: white;
  text-align: center;
  margin-top: 2px;
}
.infoCardUser {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.2rem;
  background-color: $card-background-color;
  height: 200px;
  border: $component-border;
  font-size: 12px;
  margin: 2px;
  padding:20px;
  width: 100vw;
  color: white;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}
.sortContainer{
  color: white;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  opacity: 98%;

  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
  position:sticky;
  top: 0;
  background-color: $header-bg-color;
}

.searchBar {
  height: 60px;
  background-color: $component-border;
  width: fit-content;
  padding: 20px;
  border-radius: 7px;
  display: flex;
  justify-content: space-around;
  padding: 5px;
  border: $component-border;
  margin: 10px; 
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}
.searchBar input  {
  height: 40px;
  width: 250px;
  font-size: 23px;
  margin: 5px;
}



input:focus {
  outline: none;
}
.userSearchIcon {
  background-color: $card-background-color;
  color: white;
  padding: 9px;
  margin: 10px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: relative;
  margin-top: 5px;
  border: $component-border;
}
.profileBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
}
.profileBox h2 {
  margin-top: -25px;
  align-self: center;
}


.robotEmail {
  padding: 5px;
}

.elementBox {
  display: flex;
  margin: 10px;
  height: 100px;
  width: 100px;
  border: 1px black solid;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 50%;
  background-color: rgb(155, 176, 239);
}


.addressGroup p  {
margin-bottom: -5px;
font-size: 16px;
color: rgb(255, 255, 255);
justify-content: center;
}
a:hover {
color: rgb(19, 48, 141);
}

.modalImage {
  min-height: 25%;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  margin-top: -50px;
  
}

.modalContainer {
  display: flex;
  flex-flow: wrap;
  height: fit-content;   
  justify-content: space-around;
}
.modalContainer p {
  font-weight: bold;
}
.modalLeft{
  margin-top: 5%;
  flex-wrap: wrap;
  min-width: 20%;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
  height: fit-content;

  
}
.modalRight{
  margin-top: 10%;
  margin-bottom: 25%;
  min-width: 50%;
  align-items: center;
  padding: 20px;
  text-align: left;
  height: fit-content;
}

.taskContainer {
  display: flex; 
  flex-direction: column;
  align-items: center;
}

button {
  background-color: $button-color;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  font-weight: 600;
  border: $component-border;
  padding: 0;
  box-shadow: $button-boxShadow;
  color: white;
  margin: 5px;

}
button:hover{
 transition: 100ms;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
 filter: brightness(85%);
}
.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}
.modalCloseButton {
  margin: 2px;
  width: 40px;
  height: 40px;
  position: absolute;
  cursor: pointer;
  top: 2%;
  right: 2%;
  color: $button-color;
}

.ReactModal {
  width: 500px;
}

a {
  text-decoration: none;
  color: black;
}
  .userButton { 
    background-color: $button-color;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    height: 40px;
    width: fit-content;
    line-height: 20px;
    list-style: none;
    margin: 10px;
    outline: none;
    padding: 10px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 10px;
  }
  
  .userButton:hover
 {
   filter: brightness(85%);
    box-shadow: $button-boxShadow;
    text-decoration: underline;
  }
  .userButton:active
  {
   
    box-shadow: none;
  }
  .userButton:focus{
    box-shadow: none; 
 
  }

  .userButtonCard { 
    background-color: $button-color;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    height: 40px;
    width: fit-content;
    padding: 10px;
    text-decoration: none;
    transition: color 100ms;
    margin: 20px;
  }
  .userButtonCard:hover {
    filter: brightness(85%);
    box-shadow: $button-boxShadow;
    text-decoration: underline;
  }
  .userButtonCard:active
  {
    filter: brightness(85%);
    box-shadow: none;
  }
  .userButtonCard:focus{
    box-shadow: none; 
 
  }

  .departments{
  
    color: black;

  }

  .flex {
    display: flex;
    align-items: center;
  }

  .search {
    box-shadow: $button-boxShadow;
  }

  


